[core]
nick = dlivr-it
prefix = !
host = irc.libera.chat
port = 6697
use_ssl = true
verify_ssl = true
channels = #dlivr
extra = /bot/plugins
# Sopels eingebautes "help"-Plugin kollidiert mit unserem eigenen !help
# (beide reagieren auf den Trigger -> doppelte Antwort, einmal im Channel
# von sopel-help, einmal von uns). Deaktiviert, unser dit_commands.help_cmd
# deckt das ab.
exclude = help
auth_method = nickserv
auth_username = dlivr-it
auth_password = ${NICKSERV_PASSWORD}
owner = nicolas
# Logs werden ins data-Volume geschrieben
logdir = /bot/data/logs
pid_dir = /bot/data
